.profile-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #ccc;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.profile-picture i {
    font-size: 7rem;
}